body{
    background-color:

}

.navbar {
    background-color: #ffffff;
    

}

.heading {
    font-family: Georgia, 'Times New Roman', Times, serif

}

main {
    width: 960px;
    margin: 10px;
    padding:10px;
    background-color: red

}

s